*{
    margin: 0;/* toda la margen */
    padding: 0;/* relleno */
    box-sizing: border-box;/* tamaño de la caja, hasta el borde */
}

.contenedor{
    width: 90%;/* ancho */
    max-width: 1000px;/* maximo de anchura */
    overflow: hidden;/* Servicios */
    margin: 20px auto;
    padding: 60px 0;/* relleno */
    display: grid;
    grid-gap: 20px;/* margen de 20 px de izquierda a derecha */
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, auto);
}
.contenedor > div,
.contenedor .header,
.contenedor .contenido,
.contenedor-galeria,
.contenedor-servicio{
    background: #703f24;
    padding: 1px;
    border-radius: 1px;
}
/*.contenedor .sidebar{
    grid-column: 2 / 3;
    background: #440404;
}*/
.contenedor .header{
    grid-column-start: 1;
    grid-column-end: -1;
}

.header{
    height: 40vh;/* altura */
    background-image:url(../img/fondo1-A.PNG);/* utiliza una imagen como fondo */
    background-position: center;/* posicion de la imagen de fondo central */
    background-size: cover;/*  */
    
}
/*.contenedor .sidebar{
    grid-column: 3 / 4;
    background: #440404;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100px;
    grid-row: span 1;
}*/

@media screen and (max-width: 768px) {
    .contenedor .contenido{
        grid-column: 1 / -1;
    }
    .contenedor .sidebar{
        grid-column: 1 / -1;
    }
    .contenedor .footer{
        grid-column: 1 / -1;
    }
}

.head{
    padding: 0;/* relleno */
    height: 100%;/* altura */
    display: flex;/* disposicion del flex natural*/
    flex-direction: column nowrap;/* direcciona el flex a columna */ /* nowrap para que al mover la pagina se modifique junto a ella */
    justify-content: center;/* contenido centrado */
    text-align: center;/* alineacion de texto centrado */
    color: #fff;
}

.titulo{
    font-size: 60px;/* tamaño de fuente */
    margin-bottom: 15px;/* margen inferior*/
}
/*
.copy{
    font-weight: 300;
    font-size: 25px;
}*/
/* Servicios */
.subtitulo{
    color: #492b2b;
    font-size: 40px;/* tamaño fuente */
    text-align: center;/* alineacion de texto centro*/
    font-weight: 100px;/* peso de la fuente */
    margin-bottom: 30px;/* margen inferior*/
}

.servicio{
    display: flex;/* disposicion de flex natural*/
    justify-content: space-evenly;/* contenido espaciado uniforme*/
    align-items: center;/* margen inferior*/
    flex-wrap: wrap;/* envolver flex*/
}

.contenedor-servicio img{
    width: 40%;/* ancho*/
}

.service{
    margin-bottom: 20px;/* margen inferior*/
}

.n-service{
    margin-bottom: 19px;/* margen inferior*/
    color: #440404;
}
/*
.number{
    display: inline-block;

    background-image: linear-gradient(to top, #e2b2b2 0%, #e9c8e0 100%);
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
    margin-right: 5px;
    width: 30px;
    height: 30px;
    color: rgb(8, 6, 6);
    font-weight: 700;
}*/

.gallery{
    background: #f2f2f2;
}

.contenedor-galeria{
    display: flex;/* altura*/
    flex-wrap: wrap;/* envuelve el flex*/
    justify-content: space-evenly;/* justificar el contenido, espacia uniformemente*/
    margin-top: 30px;/* margen arriba*/
}

.img-galeria{
    width: 30%;/* altura*/
    display: block;/* bloqueo pantalla*/
    margin-bottom: 15px;/* margen abajo*/
    box-shadow: 0 0 6px rgba(0, 0, 0, .6);
    cursor: pointer;/* lo que apunta el puntero*/
}

/*.imagen-light{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.534);
    transform: translate(100%);
    transition: transform .2s ease-in-out;/
}*/

/*.agregar-imagen{
    width: 60%
    transform: scale(0);
    border-radius: 10px;
    transition: transform .3s .2s;
}*/
/*
.showImage{
    transform: scale(1);
}

.show{
    transform: translate(0);
}
*/
.close{
    position: absolute;
    top: 15px;
    right: 15px;
    width: 40px;/* altura*/
    cursor: pointer;
}

.experts{
    width: 100%;/* altura*/
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;/* alineacion de items al centro*/
}

.cont-expert{
    width: 30%;/* altura*/
    text-align: center;
    margin-bottom: 20px;/* margen abajo*/
}

.cont-expert img{
    display: block;
    margin: auto;/* margen automatica*/
    width: 80%;/* altura*/
}

.n-expert{
    width: 100%;/* altura*/
    display: inline-block;
    margin-top: 20px;/* margen arriba*/
    font-weight: 400;
}

footer{
    background: #2c1b1b;
    padding-bottom: 0.1px;/* padding abajo*/
}

.footer-content{
    display: flex;/* llamado de flex*/
    justify-content: space-between;/* justficacion de contenido entre espacios*/
    align-items: center;/* alineacion de items*/
    flex-wrap: wrap;
    padding-top: 60px;/* padding arriba*/
    padding-bottom: 40px;/* padding abajo*/
    grid-area: footer;
}

.contact-us{
    width: 100%;/* altura*/
    color: #fff;
    text-align: center;/* texto alineado al centro*/
    color: rgb(231, 226, 226);
}
.brand{
    font-weight: 500;/* peso de fuente*/
    font-size: 40px;/* tamaño de fuente*/
}

.paracarta{
    text-align: center;/* alineacion de texto centro*/
    text-decoration: none;/* ninguna decoracion al texto*/
    font-style: oblique;/* estilo de fuente*/
    font-size: 30px;/* tamaño fuente*/
}

#titulo11{
    color: rgb(247, 54, 54);
}

#carta22{
    text-decoration: none;/* ninguna decoracion al texto*/
}

.vinosparte{
    display: flex;
    justify-content:space-evenly;/* justificacion de contenido espaciado eventualmente*/
    margin-top: 10px;/* margen arriba*/
    flex-wrap: wrap;
}

.vinos22{
    color: #492b2b;
    font-size: 36px;/* tamaño de fuente */
    font-weight: 100px;/* peso de fuente*/
    margin-bottom: 30px;/* margen abajo*/
}