*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.contenedor{
    width: 90%;
    max-width: 1200px;
    overflow: hidden;
    margin: auto;
    padding: 60px 0;
}

.header{
    height: 87vh;
    background-image:url(../img/fondo1-A.PNG);
    background-position: center;
    background-size: cover;
    
}

.head{
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: #fff;
}

.titulo{
    font-size: 60px;
    margin-bottom: 15px;
}

.copy{
    font-weight: 300;
    font-size: 25px;
}

/* Services */

.subtitulo{
    color: #492b2b;
    font-size: 40px;
    text-align: center;
    font-weight: 100px;
    margin-bottom: 30px;
}

.servicio{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.contenedor-servicio img{
    width: 40%;
}



.service{
    margin-bottom: 20px;
}

.n-service{
    margin-bottom: 19px;
    color: #440404;
}

.number{
    display: inline-block;
    /* 02 */
    background-image: linear-gradient(to top, #e2b2b2 0%, #e9c8e0 100%);
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
    margin-right: 5px;
    width: 30px;
    height: 30px;
    color: rgb(8, 6, 6);
    font-weight: 700;
}

.gallery{
    background: #f2f2f2;
}

.contenedor-galeria{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 30px;
}

.img-galeria{
    width: 30%;
    display: block;
    margin-bottom: 15px;
    box-shadow: 0 0 6px rgba(0, 0, 0, .6);
    cursor: pointer;
}

.imagen-light{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.534);
    transform: translate(100%);
    transition: transform .2s ease-in-out;
}

.agregar-imagen{
    width: 60%;
    transform: scale(0);
    border-radius: 10px;
    transition: transform .3s .2s;
}

.showImage{
    transform: scale(1);
}

.show{
    transform: translate(0);
}

.close{
    position: absolute;
    top: 15px;
    right: 15px;
    width: 40px;
    cursor: pointer;
}

.experts{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.cont-expert{
    width: 30%;
    text-align: center;
    margin-bottom: 20px;
}

.cont-expert img{
    display: block;
    margin: auto;
    width: 80%;
}

.n-expert{
    width: 100%;
    display: inline-block;
    margin-top: 20px;
    font-weight: 400;
}

footer{
    background: #2b1b1b;
    padding-bottom: 0.1px;
}

.footer-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 60px;
    padding-bottom: 40px;
}


.contact-us{
    width: 100%;
    color: #fff;
    text-align: center;
    color: rgb(231, 226, 226);
    
}

.brand{
    font-weight: 500;
    font-size: 40px;
}

.paracarta{
    text-align: center;
    text-decoration: none;
    font-style: oblique;
    font-size: 30px;
}
#titulo11{
    color: rgb(247, 54, 54);
}
#carta22{
    text-decoration: none;
}
.vinosparte{
    display: flex;
    justify-content:space-evenly;
    margin-top: 20px;
    flex-wrap: wrap;
}
.vinos22{
    color: #492b2b;
    font-size: 36px;
    font-weight: 100px;
    margin-bottom: 30px;
}